<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d9cb5">  <td>19/07/31 23:44:58</td>   <td>0</td> <td title="&lt;&lt;Test2.afterSuite()[pri:0, instance:selenium.test.Test2@ae45eb6]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>19/07/31 23:44:37</td>   <td>-20782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test1.browserCommands()[pri:0, instance:selenium.test.Test1@68c4039c]">browserCommands</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="9d9cb5">  <td>19/07/31 23:44:55</td>   <td>-2511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test2.commonWebElementCommands()[pri:0, instance:selenium.test.Test2@ae45eb6]">commonWebElementCommands</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="a57a9b">  <td>19/07/31 23:44:56</td>   <td>-1382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test3.selectOperations()[pri:0, instance:selenium.test.Test3@59f99ea]">selectOperations</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
